@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');


/* Global Colors */
:root {
    --st-bg-color: #ffffff;
    --st-white: #ffffff;
    --st-btn-bg: #00A693;
    --heading-color: #32353a;
    --accent-color: #e84545;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --body-bg-color: #4B4B4B;
    /* Smooth scroll */
    scroll-behavior: smooth;
    --heading-font: "Space Grotesk", sans-serif;
    --body-font: "Poppins", sans-serif;
}



body {
    color: var(--st-white);
    background-color: var(--body-bg-color);
    font-family: var(--body-font);
}

a {
    color: var(--st-white);
    text-decoration: none;
    transition: 0.3s;
}

li {
    list-style: none;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

h4 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--st-white);
    font-family: var(--body-font);
    line-height: 170%;
    /* 27.2px */
    text-transform: capitalize;
}


/* Button Style */
.st-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    padding: 16px 16px;
    display: inline-block;
    color: var(--st-white);
    font-family: var(--heading-font);
    border: 1px solid var(--st-white);
}

.st-btn-2 {
    padding: 16px 40px;
    background-color: var(--st-btn-bg);
}

.st-section-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 140%;
    /* 67.2px */
    color: var(--st-white);
    text-transform: capitalize;
}


/* Header Stayle Start */
.st-header-area {
    left: 0;
    right: 0;
    top: 65px;
    z-index: 3;

    .st-header-logo {
        display: inline-block;
    }

    .st-nav-menu {
        outline: none;
        border: none;

        svg {
            color: #fff;
        }
    }
}

.st-close-btn {
    color: var(--st-white);
}

/* Header Stayle End */


/* Offcanvst Style Start */
.st-offcanvas-area {
    background-color: var(--body-bg-color);

    .st-offcanvas-body {
        position: relative;

        .st-header-menu {
            margin-left: 20px;

            nav {
                ul {
                    li {
                        display: block;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 7px 0px;
                        padding-right: 48px;
                        color: var(--st-white);
                        border-bottom: 1px solid #ffff;
                    }
                }
            }
        }

        .st-header-btn {
            position: absolute;
            bottom: 50px;
        }
    }
}

/* Offcanvst Style End */


/* Hero Style Start */
.st-hero-area {
    padding-bottom: 310px;

    .st-bg-color {
        position: absolute;
    }

    .st-hero-bg-img {
        inset: 0;
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .st-hero-content {
        padding-top: 190px;
        text-align: center;
        z-index: 2;

        h1 {
            font-size: 50px;
            font-weight: 700;
            color: var(--st-white);
        }

        ul {
            li {
                margin-right: 10px;
                font-family: var(--heading-font);

                a {
                    svg {
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

/* Hero Style End */

/* About Style Start */
.st-about-area {
    padding-top: 48px;

    .st-about-icon {
        top: 140px;
        left: 214px;
    }
    .st-blog__icon1 {
        top: 115px;
        left: calc(11% - 2px);
    }

    .st-portfolio__icon1 {
        top: 25px;
        left: 215px;
    }

    .st-about-content {
        border-radius: 16px;
        border: 2px solid #3B3E3E;
        background: linear-gradient(210deg, #061B17 28.88%, #1C6E60 97.94%);
        box-shadow: 0px 12px 46px 0px rgba(0, 166, 147, 0.12);
        text-align: center;
        padding: 77px 0px 57px 0px;

        h2 {
            font-size: 48px;
            font-weight: 700;
            color: #C0FFF8;
            margin-bottom: 27px;
            text-transform: capitalize;
        }
    }

}

/* About Style End */

/* Video Style Start */
.st-video-area {
    padding-top: 122px;

    .st-video-content {
        border-radius: 16px;
        text-align: center;
        padding-top: 142px;
        padding-bottom: 142px;
        background-image: url('../img/bg/video-bg.jpg');
    }
}

/* Video Style End */

/* Service Style Start */
.st-service-area {
    padding-top: 100px;

    .st-service-icon1 {
        right: 16%;
        top: 23%;
    }

    .st-service-icon2 {
        left: calc(14% - 48px);
        bottom: 13%;
    }

    .st-service-item {
        border-radius: 16px;
        border: 2px solid #464444;
        padding: 23px 10px 27px 34px;
        box-shadow: 0px 12px 24px 0px rgba(0, 166, 147, 0.12);
        background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);

        .st-service-icon {
            padding: 15px;
            border-radius: 8px;
            margin-right: 15px;
            border: 1px solid #C0FFF8;
            background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);
        }

        .st-service-info {
            h5 {
                font-size: 12px;
                margin-bottom: 14px;
                color: rgba(255, 255, 255, 0.70);
            }

            h3 {
                margin: 0;
                font-size: 16px;
                line-height: 150%;
                color: var(--st-white);
            }
        }
    }

    .st-service-description {
        padding-top: 75px;

        p {
            margin-top: 20px;
            padding-right: 122px;
        }
    }

    .st-service-description-2 {
        padding-top: 50px;
    }

    .st-service-img-group {
        margin-top: 50px;
        margin-bottom: 100px;

        .st-service-img {
            width: 100%;
        }
    }
}

/* Service Style End */

/* Service 2 Style Start */
.st-service2-area{
    padding-top: 120px;
    .st-blog-icon-react{
        left: 10%;
        bottom: 15%;
    }
    .st-service2__item{
        border-radius: 16px;
        margin-bottom: 38px;
        border: 2px solid #FFF;
        padding: 40px 40px 20px 40px;
        background: linear-gradient(84deg, #1C6E60 30.3%, #020807 100%);
        .st-service__img{
            height: 72px;
            width: 72px;
            display: flex;
            border-radius: 8px;
            align-items: center;
            margin-bottom: 34px;
            justify-content: center;
            border: 1px solid #C0FFF8;
            background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);
        }
        h3{
            font-size: 24px;
            margin-bottom: 40px;
            text-transform: capitalize;
        }
    }
}
/* Service 2 Style End */



/* Portfolio Style Start */

.st-portfolio-area {
    padding-top: 120px;
    padding-bottom: 100px;

    .st-portfolio-icon1 {
        right: 10%;
        bottom: 41%;
    }

    .st-portfolio__img {
        img {
            width: 100%;
            height: 370px;
            border-radius: 8px;
        }
    }

    .st-portfolio__info {
        border-radius: 8px;
        border: 2px solid #3E3D3D;
        padding: 41px 40px 60px 40px;

        h2 {
            font-size: 32px;
            font-weight: 500;
            line-height: 140%;
            /* 44.8px */
            margin-bottom: 15px;
            color: var(--st-white);
            text-transform: capitalize;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 45px;
        }
    }
}


/* Portfolio Style End */

/* Contact Style Start */

.st-contact-p {
    padding-bottom: 40px;
}

.st-contact__icon1 {
    right: 15%;
    top: -100px;
}

.st-contact__info {
    z-index: 1;
    margin-top: -36px;
    position: relative;

    .st-contact__item {
        border-radius: 16px;
        border: 2px solid #464444;
        padding: 23px 10px 27px 34px;
        box-shadow: 0px 12px 24px 0px rgba(0, 166, 147, 0.12);
        background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);

        .st-contact__item-icon {
            margin-right: 8px;
            padding: 16px 17px;
            border-radius: 8px;
            border: 1px solid #C0FFF8;
            background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);
        }

        .st-contact__item-desc {
            h5 {
                font-size: 16px;
                margin-bottom: 10px;
                color: var(--st-bg-color);
            }

            span {
                display: block;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 4px;
                line-height: 150%;
                /* 18px */
                font-family: "Space Grotesk";
                color: rgba(255, 255, 255, 0.70);
            }
        }
    }
}

/* Contact Style End */

/* Contact Btn Style Start */
.st-contact-btn-area {
    padding-top: 120px;
    padding-bottom: 115px;

    .st-contact-btn-icon {
        left: calc(12% - 22px);
        top: 40%;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 32px;
        color: var(--st-white);
    }

    .st-contact-btn {
        display: flex;
        padding: 0;
        width: 100%;
        height: 60px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 2px solid #3E3D3D;
        transition: .3s;
    }

    .st-contact-btn:hover {
        background: linear-gradient(210deg, #020807 28.88%, #1C6E60 97.94%);
    }
}

/* Contact Btn Style End */

/* Contact Form Style Start */
.st-contact-form-area {
    padding-bottom: 115px;

    .st-contact-form-icon {
        right: 63px;
        bottom: 10%;
    }

    h2 {
        font-size: 36px;
        font-weight: 700;
        color: var(--st-white);
    }

    p {
        font-size: 10px;
        font-weight: 400;
        line-height: 120%;
        /* 12px */
        margin-bottom: 40px;
        margin-top: 12px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.40);
    }

    .st-contact-form {
        input {
            padding: 16px 348px 17px 20px;
            background: transparent;
            border-radius: 8px;
            /* border: 2px solid #C0FFF8; */
            color: #fff;
        }

        ::placeholder {
            color: #fff;
        }

        textarea {
            padding: 15px;
            background: linear-gradient(180.86deg, #020807 28.88%, #1C6E60 97.94%);
        }

        .contact {
            font-size: 14px;
            padding: 10px 15px;
            box-shadow: none;
            border-radius: 0;
            color: var(--default-color);
            background-color: color-mix(in srgb, var(--background-color), transparent 50%);
            border-color: color-mix(in srgb, var(--default-color), transparent 80%);
        }
    }
}

/* Contact Form Style End */

/* Blog Style Start */

.st-blog-area {
    padding-top: 120px;
    padding-bottom: 120px;

    .st-blog-icon{
        bottom: 37%;
        right: calc(12% - 16px);
    }
    .st-blog-icon-data1{
        left: 13%;
        top: 57px;
    }
    .st-blog-icon-data2{
        left: 10%;
        bottom: 38%;
    }

    .st-blog-icon-python{
        top: 38%;
        right: 11%;
    }

    h2{
        font-size: 50px;
        background: linear-gradient(92deg, #FFF 2.97%, #00A693 97.2%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .title-mb{
        margin-bottom: 60px;
    }

    .st-blog-content {
        margin-bottom: 50px;
        .st-blog-img {
            img {
                border-radius: 14.807px;
                border: 2px solid #3E3D3D;

            }
        }

        .st-blog-date {
            top: 25px;
            left: 28px;
            padding: 8px 7px;
            border-radius: 8px;
            position: absolute;
            background: #C0FFF8;
            display: inline-block;
            border: 1px solid #FFF;

            h4 {
                margin: 0;
                font-size: 14.56px;
                font-weight: 700;
                text-transform: capitalize;
                color: var(--body-bg-color);
            }
        }

   

        .st-blog-title-box {
            margin-top: -30px;
            padding: 30px 0px;
            transform: translateX(21px);
            width: 95%;
            border-radius: 14.807px;
            border: 2px solid #3E3D3D;
            background: linear-gradient(180deg, #020807 28.88%, #1C6E60 97.94%);

            h3 {
                font-size: 24px;
                font-weight: 500;
                line-height: 130%;
                color: var(--st-white);
                text-transform: capitalize;
            }

            .st-comment-count {
                text-align: end;
                margin-right: 25px;

                span {
                    font-size: 10px;
                    font-weight: 500;
                }
            }
        }
        .st-blog-title-box2{
            margin-top: -70px;
        }

        .st-text-box {
            padding-top: 32px;

            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 160%;
                /* 25.6px */
                text-transform: capitalize;
            }
        }
    }

    .st-blog-content-img {
        margin-top: 60px;
    }

    .st-blog-btn{
        margin-top: 40px;
        a{
            font-size: 16px;
            font-weight: 500;
        }
    }

    .st-sidebar__search {
        .st-sidebar__search-form {
            input[type="search"] {
                display: block;
                font-size: 14px;
                font-weight: 400;
                padding-left: 20px;
                height: 63px;
                width: 100%;
                color: var(--st-white);
                padding-right: 50px;
                border-radius: 8px;
                border: 2px solid #3E3D3D;
                background: linear-gradient(180deg, #020807 28.88%, #1C6E60 97.94%);
            }
             button[type="submit"] {     
                 right: 20px;
                 width: 45px;
                 height: 40px;
                 font-size: 22px;
                 position: absolute;
                 border-radius: 4.556px;
                 color: var(--st-white);
                border: 0.569px solid #C0FFF8;
                background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);
            }
        }
    }
    .st-sidebar__post{
        margin-top: 40px;
        border-radius: 8px;
        border: 2px solid #3E3D3D;
        padding: 35px 35px 35px 28px;
        h4{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
            color: var(--st-white);
            line-height: 120%; /* 28.8px */
            text-transform: capitalize;
        }
        .st-sidebar__post-single{
            align-items: center;
            margin-bottom: 20px;
            .st-sidebar__post-img{
                img{
                    border-radius: 8px;
                    border: 1px solid #3E3D3D;
                }
            }
            .st-sidebar__post-content{
                margin-left: 16px;
                h5{
                    font-size: 16px;
                    color: var(--st-white);
                }
                svg{
                    margin-right: 5px;
                }
                p{
                    font-size: 10px;
                }
            }
        }

    }

    .st-sidebar__tag{
        padding-right: 30px;
        a{
            margin-bottom: 24px;
            transition: .3s;
        }
        a:hover{
            background: linear-gradient(180deg, #020807 28.88%, #1C6E60 97.94%);
        }
    }
}

/* Blog Style End */

/* Subscribe Style End */
.st-subscribe {
    padding-bottom: 100px;
    .st-blog-icon3{
        left: 11%;
        top: -65px;
    }
    .st-subscribe__content-box {
        position: relative;
        border-radius: 16px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid #00A693;
        overflow: hidden;
        background-image: url('../img/bg/subscribe-bg.png');

        .st-subscribe__content {
            padding: 72px 0px 75px 0px;

            h2 {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 50px;
                color: var(--st-white);
            }
        }
    }

    .st-subscribe__content-box::before {
        content: "";
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        height: 100%;
        position: absolute;
        background-color: rgba(2, 8, 7, 0.70);
    }

}

/* Subscribe Style End */


/* Footer Style Start */
.st-footer-area {
    /* padding-top: 35px; */
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/bg/footer-bg.png');

    .st-footer__info {
        z-index: 2;
        margin-top: 35px;
        padding: 33px 0px;
        margin-bottom: 50px;
        border-radius: 16px;
        border: 2px solid var(--st-white);
        background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);

        .st-footer__item {
            .st-footer__item-icon {
                margin-right: 8px;
                padding: 16px 17px;
                border-radius: 8px;
                border: 1px solid #C0FFF8;
                background: linear-gradient(84deg, #1C6E60 30.4%, #020807 100%);
            }

            .st-footer__item-desc {
                h5 {
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: var(--st-bg-color);
                }

                span {
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 4px;
                    line-height: 150%;
                    /* 18px */
                    font-family: "Space Grotesk";
                    color: rgba(255, 255, 255, 0.70);
                }
            }
        }
    }

    .st-footer-list {
        padding-bottom: 50px;

        .st-footer-logo {
            margin-bottom: 15px;
        }

        .st-logo-info {
            font-size: 12px;
            font-weight: 400;
        }

        .st-footer-socials {
            margin-top: 20px;

            a {
                margin-right: 5px;
            }
        }

        .st-footer-widget {
            h4 {
                font-weight: 500;
                color: var(--st-white);
                margin-bottom: 20px;
            }

            ul {
                li {
                    display: block;
                    margin-bottom: 17px;
                }
            }
        }

        .st-footer-widget-1 {
            padding-left: 30px;
        }

        .st-footer-widget-2 {
            padding-left: 22px;
        }

        .st-footer-widget-4 {
            padding-left: 45px;

            ul {
                li {
                    display: inline-block;
                }
            }
        }
    }

    .st-copyright-area {
        padding: 24px 0px 32px 0px;
        border-top: 1px solid rgba(0, 166, 147, 0.46);

        span {
            font-size: 14px;
        }

        ul {
            li {
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
}

.pt {
    padding-top: 35px;
}

.st-footer-area::before {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: rgba(2, 8, 7, 0.70);
}

/* Footer Style End */